/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.InputField {
@apply	p-2 mt-10 bg-gray-300 
shadow-lg rounded w-2/3 outline-none
placeholder-gray-700 xl:w-2/5 md:w-2/5
border-solid border-gray-500 border-b-4
}

.headStyle {
@apply text-4xl font-bold text-gray-800
p-4  rounded
 text-center mb-3
}

.btn {
    @apply bg-gray-100 hover:scale-150 ring-offset-2
    px-4 py-1 rounded-lg mt-11 shadow-xl
     ring-gray-600 ring-4
    cursor-pointer text-gray-800 hover:bg-gray-300
}

body {
    padding: 0;margin: 0px;
    background-color: rgb(244, 248, 252);
}

.mh {
    @apply grid grid-cols-3
     shadow-lg w-full p-3
    
}

.divgrid {
    @apply w-40 bg-gray-800 
    h-36 rounded-lg shadow-2xl
    ring-4 ring-gray-500 
    md:w-60 md:h-56
}

/* .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1111px;
    

} */
/*
.logo {
    margin-top: 0.8em;
    width: 294px;
    
    
}

.pdec {
    font-size: 24px;
    font-weight: 550;
    font-family: SFProDisplay-Regular,
     Helvetica, Arial, sans-serif;
    margin-top: 0;
    color: rgb(12, 12, 12);
    
}

form { display: flex; flex-direction: column;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1)
    , 0 8px 16px rgba(0, 0, 0, .1);
    border-radius: 8px;
    background-color: #ffffff;
    width: 360px; text-align: center;
    margin-top: 17px;
    padding: 16px;
}

form :nth-child(1) {
    width: auto;
    height: 22px;
    margin-bottom: 11px;
    font-size: 17px;
    border-radius: 6px;
    vertical-align: middle;
    padding: 15px;
    border: 1px solid rgb(212, 211, 211);
}

form :nth-child(2) {
    width: auto;
    height: 22px;
    margin-bottom: 13px;
    font-size: 17px;
    border-radius: 6px;
    vertical-align: middle;
    padding: 15px;
    border: 1px solid rgb(212, 211, 211);
}

form button {
    width: auto;
    font-size: 20px;
    
    height: 22px;
    border-radius: 6px;
    padding: 25px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: honeydew;
    font-weight: bold;
    background-color: #1877f2;
}

.forgot {
    color:#1877f2 ;
    font-size: 15px;
    font-family: SFProDisplay-Regular,
    Helvetica, Arial, sans-serif;
    border-bottom: 1px solid rgb(224, 221, 221);
    padding-bottom: 21px;
}

form .create {
    font-size: 17px;
    width: 200px;
    height: 22px;
    border-radius: 6px;
    padding: 25px 1px;
    border: none;
    margin-top: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: honeydew;
    font-weight: bold;
    background-color: #42b72a;
}

.cHolder {
    display: flex;
    justify-content: center;
}

.footer {
    font-size: 14px;
    margin-top: 24px;
    font-family: SFProDisplay-Regular,
    Helvetica, Arial, sans-serif;
}

input:focus{
    outline:none;
} */